html
  head
    title= `Сборка ${id}`
  body
    a(href="/") Назад
    table
      tbody(style='vertical-align: top')
        tr
          td id
          td= id
        tr
          td Хэш
          td= hash
        tr
          td Команда
          td= command
        tr
          td Статус
          td= state
        tr
          td stdout
          td
            pre= stdout
        tr
          td stderr
          td
            pre= stderr
